[submodule "atomic-datastructure"]
	path = atomic-datastructure
	url = https://github.com/lytree/atomic-datastructure.git
[submodule "atomic-example"]
	path = atomic-example
	url = https://github.com/lytree/atomic-demo.git

