# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\atomic\atomic-io-utils\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
